/*最外层div*/
.out{
	border-left: 20px solid #fef7ec;
    border-right: 20px solid #fef7ec;
    border-top: 20px solid #fef7ec;
    border-bottom: 20px solid #fef7ec;
    height: 3272px;
    font-family: "Roboto", arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #676767;
    background: #fff;
    opacity: 1;
}
/*头部*/
.head{
	padding-top: 15px;
    text-align: center;
}
.head>.transtion{
	position: relative;
    display: block;
    font-size: 50px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    height: 50px;
}
.head>.transtion .camera{
	position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    text-align: center;
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
/*主体*/
.bodys{
	padding: 3.5em 0 7em 0;
}
.bodys>.container{
	width: 970px;
	position: relative;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.bodys>.container .gaid{
	position: relative;
}
/*主体左边*/
.bodys>.container .gaid .leftdiv{
	float: left;
    padding-right: .25em;
    width: 49%;
}
.bodys>.container .gaid .leftdiv .intro{
	padding-right: 1em;
	margin-bottom: 2em;
}
.bodys>.container .gaid .leftdiv .intro h1{
	font-family: "Playfair Display", times, serif;
    color: #000;
    margin-bottom: 1.5em;
    clear: both;
    line-height: 1.5;
    font-size: 36px;
    margin-top: 20px;
    font-weight: 500;
}
.bodys>.container .gaid .leftdiv .intro h1 .aboutme{
	font-size: 20px;
	transition: 0.5s;
    color: #f3ac2b;
    font-style: italic;
}
.bodys>.container .gaid .leftdiv .intro  .lists{
	padding: 0;
    margin: 30px 0 0 0;
    position: relative;
}
.bodys>.container .gaid .leftdiv .intro  .lists li{
	padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 35px;
}
.bodys>.container .gaid .leftdiv .item1{
	margin-bottom: .5em;
    float: left;
    width: 100%;
    position: relative;
    background: #f2f2f2;
}
.bodys>.container .gaid .leftdiv .item1 a{
	position: relative;
    display: block;
    overflow: hidden;
}
.bodys>.container .gaid .leftdiv .item1 a img{
	max-width: 100%;
	vertical-align: middle;
}
.bodys>.container .gaid .leftdiv .item1 a .back{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}
.bodys>.container .gaid .leftdiv .item1 a .back .font{
	position: absolute;
    z-index: 99;
    text-align: center;
    top: 50%;
    width: 100%;
    vertical-align: middle;
    margin-top: -18px;
}
.bodys>.container .gaid .leftdiv .item1 a .back .font
h2{
	margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 30px;
}
/*主体右边*/
.bodys>.container .gaid .rightdiv{
	float: right;
    padding-left: .25em;
    width: 50%;
}
.bodys>.container .gaid .rightdiv .item2{
	margin-bottom: .5em;
    float: left;
    width: 100%;
    position: relative;
    background: #f2f2f2;
}
.bodys>.container .gaid .rightdiv .item2 a{
	position: relative;
    display: block;
    overflow: hidden;
}
.bodys>.container .gaid .rightdiv .item2 a img{
	vertical-align: middle;
	width: 100%;
}
.bodys>.container .gaid .rightdiv .item2 a .back{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
}
.bodys>.container .gaid .rightdiv .item2 a .back
.text{
	position: absolute;
    z-index: 99;
    text-align: center;
    top: 50%;
    width: 100%;
    vertical-align: middle;
    margin-top: -18px;
}
.bodys>.container .gaid .rightdiv .item2 a .back
.text h2{
	margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-size: 30px;
}


























